PORT=3000
# NODE_ENV=test
# TEST_DATA=[{"assigned_to": "", "status_text": "", "open": true, "_id": "8ab28b98", "issue_title": "Title1", "issue_text": "Text1", "created_by": "Moi", "created_on": "2022-12-13T05:49:44.285Z", "updated_on": "2022-12-13T05:49:44.285Z"},{"assigned_to": "", "status_text": "", "open": false, "_id": "8ab28b88", "issue_title": "Title2", "issue_text": "Text2", "created_by": "Moi", "created_on": "2022-12-13T05:49:44.285Z", "updated_on": "2022-12-13T05:49:44.285Z"}, {"assigned_to": "", "status_text": "", "open": false, "_id": "8ab28b87", "issue_title": "Title3", "issue_text": "Text3", "created_by": "Moi", "created_on": "2022-12-13T05:49:44.285Z", "updated_on": "2022-12-13T05:49:44.285Z"}]
# SERVER=https://boilerplate-project-issuetracker.mariamawitashen.repl.co/
